# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020-2022 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

wclub>=0.2.10<1.0.0
utila>=2.88.0<3.0.0

Sphinx>=5.1.1<6.0.0
Flask>=2.2.2<3.0.0
